<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
    <style>
       div {
       align: center;
       }
        .edit-post {
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
             margin-top: 50px;
        }
        input, textarea {
            width: 100%;
            padding: 10px 10px;
            border: solid 1px #000;
            margin: 5px 0;
        }

    </style>
</head>
<body>
    <h1 align="center">New/Edit Post</h1>
    <form class="edit-post" action="new-post" method="post">
    <div>
        <input type="text" name="title" placeholder="Title">
        <input type="text" name="excerpt"  placeholder="Excerpt">
        <input type="text" name="email"  placeholder="Email">
        <span>Available Tags</span>
        <div th:each="tag : ${tags}">
         <input type="checkbox" id="${tag.name}" name="tags" th:value="${tag.id}">
            <label for="${tag.name}">[[${tag.name}]]</label>
        </div>
        <textarea name="content" cols="30" rows="15">
        </textarea>
        <button type="submit">Publish</button>
    </div>
    </form>
</body>
</html>
