<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Comments</title>
</head>
<body>
<div class="main">
    <div th:each="comment : ${comments}" class="blog">
        <span><b>Name</b></span><p th:text="${comment.name}"></p>
        <span><b>Email</b></span><p th:text="${comment.email}"></p>
        <span><b>Comment</b></span><p th:text="${comment.content}"></p>
        <a th:href="@{/update-comment/{id}(id=${comment.id})}">Update Comment</a>
        <a th:href="@{/delete-comment/{id}(id=${comment.id})}">Delete Comment</a>
    </div>
    <a th:href="@{/add-comment/{post-id}(post-id =${post.id})}">Add Comment</a>


</div>
</body>
</html>