<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="main">
    <div th:each="post : ${posts}" class="blog">
        <span><b>Title</b></span><p th:text="${post.title}"></p>
        <span><b>Excerpt</b></span><p th:text="${post.excerpt}"></p>
        <span><b>Author</b></span><p th:text="${post.author.name}"></p>
        <span><b>Published At</b></span><p th:text="${post.publishedAt}"></p>
        <span><b>Tags</b></span>
        <div th:each="postTag : ${post.postTags}">
            <p th:text="${postTag.tag.name}"></p>
        </div>
        <div>
            <a th:href="@{/view-post/{id}(id = ${post.id})}">View Post</a>
            <a th:href="@{delete/{id}(id =${post.id})}">Delete Post</a>
            <a th:href="@{update/{id}(id =${post.id})}">Update Post</a>
        </div>
    </div>
</div>
</body>
</html>